{% extends "base.html"%}
{% block content %}
<div class="col-md-11 content account-manage">
    <div class="navbar manage-account">
        <p>Manage account</p>
        {% if permission=='Administrator' %}
        <a href="{{ url_for('main.add_account') }}">
            <button class="btn btn-default add-btn">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </a>
        {% endif %}
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Name(Account)</th>
            <th>Real Name</th>
            <th>Job Position</th>
            <th>Permission</th>
            <th id="edit"></th>
        </tr>
        </thead>

        {% for user in users %}
        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.real_name }}</td>
            <td>{{ user.position }}</td>
            <td>{{ user.role.permission }}</td>
            <td>
                <a href="{{ url_for('main.edit_account',id=user.id) }}">
                    <button class="btn btn-warning edit-btn">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
        {% endfor %}

    </table>

</div>
{% endblock %}