{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
{{ super() }}
    <title>Add account</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/add_account.css') }}">
{% endblock %}
{% block content %}
    <div class="navbar">
        <p>Add Account</p>
    </div>
    <div class="add-form">
        <form method="post">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.name,class="form-control") }}
            {{ wtf.form_field(form.real_name,class="form-control") }}
            {{ wtf.form_field(form.position) }}
            {{ wtf.form_field(form.submit,class="btn btn-info btn-block") }}
        </form>
    </div>
{% endblock %}