{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
{% block head %}
{{ super() }}
    <title>Edit account</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/edit_account.css') }}">
{% endblock %}
    <div class="navbar">
        <p>Edit Account</p>
    </div>
    <div class="edit-form">
        {% if current_user==user and current_user.role.permission=='Administrator' %}
        {{ wtf.quick_form(form) }}
        {% elif current_user.role.permission=='Administrator' %}
        {% include "_edit_form1.html" %}
        {% else %}
        {% include "_edit_form2.html" %}
        {% endif %}
    </div>


{% endblock %}