{% extends "base.html"%}
{% import "_macro.html" as macro %}
{% block head %}
{{ super() }}
    <title>Index</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <div class="navbar">
        <p>Pending process</p>
    </div>
    <div>
        {% if not process %}
        <h2>There is no pending process</h2>
        {% else %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col" id="NO">NO.</th>
                <th scope="col" id="ProcessID">Serial Num</th>
                <th scope="col">Theme</th>
                <th scope="col" id="Initiator">Initiator</th>
                <th scope="col" id="InitiatalTime">Initiatal Time</th>
                <th scope="col" id="ArrivedTime">Arrived Time</th>
                <th scope="col" id="approval-info-sign"></th>
            </tr>
            </thead>
            <tbody>

            {% for p in process %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ p.process_serial_num }}{{ p.id }}</td>
                <td>{{ p.theme }}</td>
                <td>{{ p.user.real_name }}</td>
                <td>{{ moment(p.initial_time).format("YYYY MMM Do,HH:mm:ss") }}</td>
                <td>{{ moment(p.timestamp).format("YYYY MMM Do,HH:mm:ss" )}}</td>
                <td><a href="{{ url_for('main.detail',id=p.id) }}"><span
                        class="glyphicon glyphicon-info-sign"></span> Detail</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% if process %}
{{ macro.pagination_widget(pagination,'main.index') }}
{% endif %}
{% endblock %}