body {
    background-image: url("../img/backgroundpage.jpg");

    background-size: 100%;
}

.myform {
    position: absolute;
    background: white;
    padding: 25px 30px 100px;
    border: antiquewhite 4px solid;
    border-radius: 2px;
    box-shadow: 1px 1px 5px white;
    top: 15%;
    right: 18%;
}

.name-body {
    background-color: rgb(250, 255, 189);
}

.passwd-body {
    background-color: rgb(250, 255, 189);
}

.upon {
    font-family: 微软雅黑, 华文黑体;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.logo-img {
    float: left;
}

.logo-head {
    font-size: 40px;
    margin-top: 28px;
    padding-top: 5px;
    color: white;
}
.logo-head span{
    padding-left: 0.2em;
}

.logo-text {
    font-size: 20px;
    margin-top: 10px;
    color: white;
    text-align: left;
    letter-spacing: 3.5px;
    word-spacing: 10px;
}

.logo-container {
    position: absolute;
    top: 12%;
    left: 20%;
    width: 37.5em;
}

.login-footer {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 4%;
}
