.navbar p {
    background-color: #EEE5DE;
    width: 120px;
    position: absolute;
    top: 8px;
    left: 90px;
    text-align: center;
    padding: 20px 1px 1px 10px;
    border-radius: 6px 6px 0 0;
}
.myprocess-btn {
    width: 90px;
}
h2{
    margin-bottom: 80px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
.table tr {
    text-align: center;
}
.table {
    width: 70%;
    margin: auto;
}
.table th{
    text-align: center;
}
.table p {
    height: 100px;
    border: #FA8072 1px solid;
    border-radius: 7px;
    padding-left: 1em;
    padding-top: 0.5em;
    box-shadow: 0 0 1px 1px #FA8072 inset;
}
.mypagination-nav{
    margin-top: 40px;
}
.pagination{
    float: right;
    margin-right: 15%;
}
